<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651015315213-tblijktd24q3iubv60bp1641o3p0bs6m.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651015315213-tblijktd24q3iubv60bp1641o3p0bs6m</string>
	<key>API_KEY</key>
	<string>AIzaSyBw0h0dVB85-kKh9JeVuktDgCNKP6nHn7U</string>
	<key>GCM_SENDER_ID</key>
	<string>651015315213</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nibm.COBSCComp192p-016</string>
	<key>PROJECT_ID</key>
	<string>nibm-broker-c93e0</string>
	<key>STORAGE_BUCKET</key>
	<string>nibm-broker-c93e0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651015315213:ios:bf3bd8748d5884224dda44</string>
</dict>
</plist>